body {
  background-color: black;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 20vw 50vw 30vw;
  grid-gap: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.navbar-container {
  border-right: solid 1px slategray;
  height: 100%;
}

.msg-container {
  height: 100%;
  overflow: auto;
}

.board-container {
  border-left: solid 1px slategray;
  height: 100%;
  overflow: auto;
}
