.navbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  padding: 0;
  border: solid 1px slategray;
  height: 100vh;
}

.nav-item {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 0;
  display: block;
  text-align: center;
}

.nav-item .active {
  color: teal;
}

.nav-link:hover {
  color: teal;
}

.navbar-brand {
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.link-text {
  font-size: 1.5rem;
  margin-left: 1rem;
}

